.vs/
**/bin/
**/obj/
**/.dart_tool/
**/build/
**/.idea/
**/.vscode/
*.user
*.suo

**/.flutter-plugins
**/.flutter-plugins-dependencies
**/android/.gradle/
**/android/local.properties

.env
.env.*
**/appsettings.Development.json

*.log
.DS_Store
Thumbs.db